@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #181212;
    padding-bottom: 300px;
}

h1, h2, h3 {
    padding: 8px;
    text-align: center;
    font-family: 'Mountains of Christmas', cursive;
}

p {
    padding: 8px 0;
}

a {
    color: #0f8a5e;
}

a.btn {
    padding: 2px;
    background-color: #0f8a5e;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

a.btn:hover {
    background-color: #cc231e;
}

code {
    padding: 4px;
    background-color: #241212;
    border-radius: 4px;
    font-family: 'Roboto Mono', monospace;
}

code.codeblock {
    display: block;
    margin: 8px 0;
    padding: 8px;
}

ol, ul {
    margin: 8px 0;
    background-color: #243224;
    border-radius: 8px;
    z-index: 2;
    box-shadow: 0 3px 12px #000000aa;
}

ol.sublist, ul.sublist {
    background-color: #324832;
}

li {
    padding: 16px;
    list-style-position: inside;
    border-bottom: solid 1px black;
}

kbd {
    display: inline-block;
    padding: 2px;
    color: black;
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 3px 0 gray;
    cursor: pointer;
    user-select: none;
}

kbd:active {
    background-color: #ddd;
    box-shadow: 0 0px 0 gray;
    transform: translateY(3px);
}

.container {
    margin: 0 12%;
}

.center-children {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
    padding: 8px;
    background-color: #243224;
    border-radius: 8px;
    box-shadow: 0 3px 12px #000000aa;
    z-index: 2;
}

.day-card {
    display: inline-block;
    margin: 8px;
    min-width: 22%;
    transition: all .1s ease-in-out;
}

.day-card:hover {
    background-color: #485248;
    transform: scale(1.1, 1.1);
    z-index: 3;
}
